body {
  padding-top: 56px;
}
.img-fluid{
   border: 2px solid black;
 
}
.texto{
   margin: 20px;
   z-index: 1;
   margin-top: 200px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   margin: 10px auto;
}
.card-title{
  text-decoration: underline;
}
.navbar-brand{
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    color:whitesmoke
}
.card-footer{
    font-weight: bold;
     text-align: center;
    color: white;
    padding: 15px;
    margin-top: 20px;
    background-color: #333;
}